<%= simple_form_for resource, url: '#', method: :get, html: {
  'data-source-preview': styleguides_bootstrap_v4_url,
  'data-source-src': css_generator_url,
  'data-source-scss': css_generator_url(format: :scss)
} do |f| %>
  <a data-toggle="collapse" data-target="#collapseColors" aria-expanded="true" aria-controls="collapseColors" class="h4 w-100 text-left btn p-0 font-weight-bold" href="collapseColors">
    Colours
  </a>
  <div class="collapse show" id="collapseColors">
    <div id="main-colours-fields">
      <div class="main-colour-field row">
        <%= f.input :body_bg, as: :string,
          required: false,
          readonly: true,
          wrapper_html: { class: 'col-5'},
          label_html: { class: 'sr-only' },
          input_html: {
            class: 'form-control-sm',
            value: 'Body BG',
          }
        %>
        <%= f.input :body_bg, as: :string,
          required: false,
          wrapper_html: { class: 'col-4'},
          label_html: { class: 'sr-only' },
          input_html: {
            class: 'form-control-sm',
            type: 'text-color',
            value: f.object.body_bg,
            'data-value-src': "--#{f.object.body_bg}"
          }
        %>
      </div>

      <div class="main-colour-field row">
        <%= f.input :body_color, as: :string,
          required: false,
          readonly: true,
          wrapper_html: { class: 'col-5'},
          label_html: { class: 'sr-only' },
          input_html: {
            class: 'form-control-sm',
            value: 'Body Color',
          }
        %>
        <%= f.input :body_color, as: :string,
          required: false,
          wrapper_html: { class: 'col-4'},
          label_html: { class: 'sr-only' },
          input_html: {
            class: 'form-control-sm',
            type: 'text-color',
            value: f.object.body_color,
            'data-value-src': "--#{f.object.body_color}"
          }
        %>
      </div>
    </div>

    <div id="required-colours-fields">
      <%= f.simple_fields_for :required_colours, f.object.required_colours do |ff| %>
        <%= render 'styleguides/bootstrap/v4/configurator/required_colours', ff: ff %>
      <% end %>
    </div>

    <div id="optional-colours-fields">
      <%= f.simple_fields_for :optional_colours, f.object.optional_colours do |ff| %>
        <%= render 'styleguides/bootstrap/v4/configurator/optional_colours', ff: ff %>
      <% end %>
    </div>

    <div class="form-group">
      <%= button_tag 'Add new colour',
        class: 'btn btn-secondary btn-sm',
        'data-append-template': '#template-optional-colours',
        'data-append-to': '#optional-colours-fields'
      %>
    </div>

    <%= f.simple_fields_for :optional_colours, [BootstrapConfiguration::Colour.new('', '#000000')], child_index: 'NEW_RECORD' do |ff| %>
      <template id="template-optional-colours">
        <%= render 'styleguides/bootstrap/v4/configurator/optional_colours', ff: ff %>
      </template>
    <% end %>
  </div>
  <hr />

  <a data-toggle="collapse" data-target="#collapseFonts" aria-expanded="true" aria-controls="collapseFonts" class="h4 w-100 text-left btn p-0 font-weight-bold" href="collapseFonts">Fonts</a>
  <div class="collapse show" id="collapseFonts">
    <%= f.input :font_size_base, as: :range,
      label_html: { class: 'col-form-label-sm' },
      input_html: { 
        class: 'form-control-sm html5-slider',
        min: 0.10,
        step: 0.05,
        max: 3,
        'data-placement': 'right',
      }
    %>

    <%= f.input :font_family_sans_serif, as: :select,
      include_blank: false,
      label_html: { class: 'col-form-label-sm' },
      input_html: { class: 'form-control-sm select2', multiple: true },
      collection: f.object.options_for_font_family_sans_serif
    %>

    <%= f.input :font_family_monospace, as: :select,
      include_blank: false,
      label_html: { class: 'col-form-label-sm' },
      input_html: { class: 'form-control-sm select2', multiple: true },
      collection: f.object.options_for_font_family_monospace
    %>
  </div>
  <hr />

  <a data-toggle="collapse" data-target="#collapseEmbed" aria-expanded="true" aria-controls="collapseEmbed" class="h4 w-100 text-left btn p-0 font-weight-bold" href="collapseEmbed">Embed</a>
  <div class="collapse show" id="collapseEmbed">
    <p class="small">Use this style on your own site by embedding this snippet on your site:</p>
    <template id="html-sample-template">
      <!-- View living styleguide: %{styleguide.url} -->
      <link rel="stylesheet" media="all" href="%{styleguide.css_url}" />
    </template>
    <%= f.input :html_sample, as: :text,
      readonly: true, 
      label_html: { class: 'col-form-label-sm' },
      input_html: { name: nil, value: css_generator_url(id: resource.id), class: 'form-control-sm html-sample select-on-clickable' } %>

    <%= f.input :scss_file, as: :block,
      readonly: true, 
      label_html: { class: 'col-form-label-sm' } do %>
      <div>
        <%= link_to 'Download SCSS', css_generator_url(id: resource.id, format: :scss), download: 'download', target: '_blank', class: 'scss-file' %>
      </div>
    <% end %>
  </div>
<% end %>
