<ul class="list-unstyled">
  <li><%= link_to 'Bootstrap 4', styleguides_bootstrap_v4_path, 'data-turbolinks-update-shadowdom': 'styleguide-content' %></li>
  <li><%= link_to 'Typography', page_styleguides_bootstrap_v4_path(action: :typography), 'data-turbolinks-update-shadowdom': 'styleguide-content' %></li>
  <li><%= link_to 'Tables', page_styleguides_bootstrap_v4_path(action: :tables), 'data-turbolinks-update-shadowdom': 'styleguide-content' %></li>
  <li><%= link_to 'Buttons', page_styleguides_bootstrap_v4_path(action: :buttons), 'data-turbolinks-update-shadowdom': 'styleguide-content' %></li>
  <li><%= link_to 'Alerts', page_styleguides_bootstrap_v4_path(action: :alerts), 'data-turbolinks-update-shadowdom': 'styleguide-content' %></li>
  <li><%= link_to 'Forms', page_styleguides_bootstrap_v4_path(action: :forms), 'data-turbolinks-update-shadowdom': 'styleguide-content' %></li>
  <li><%= link_to 'Progress', page_styleguides_bootstrap_v4_path(action: :progress), 'data-turbolinks-update-shadowdom': 'styleguide-content' %></li>
</ul>
