<ul class="list-unstyled">
  <li><%= link_to 'Bootstrap 4', styleguides_bootstrap_v4_path, 'data-turbolinks-update-shadowdom': 'styleguide-content' %></li>
  <li><%= link_to 'Typography', url_for([:typography, :styleguides, :bootstrap, :v4]), 'data-turbolinks-update-shadowdom': 'styleguide-content' %></li>
  <li><%= link_to 'Tables', url_for([:tables, :styleguides, :bootstrap, :v4]), 'data-turbolinks-update-shadowdom': 'styleguide-content' %></li>
  <li><%= link_to 'Buttons', url_for([:buttons, :styleguides, :bootstrap, :v4]), 'data-turbolinks-update-shadowdom': 'styleguide-content' %></li>
  <li><%= link_to 'Alerts', url_for([:alerts, :styleguides, :bootstrap, :v4]), 'data-turbolinks-update-shadowdom': 'styleguide-content' %></li>
  <li><%= link_to 'Forms', url_for([:forms, :styleguides, :bootstrap, :v4]), 'data-turbolinks-update-shadowdom': 'styleguide-content' %></li>
  <li><%= link_to 'Progress', url_for([:progress, :styleguides, :bootstrap, :v4]), 'data-turbolinks-update-shadowdom': 'styleguide-content' %></li>
</ul>
