<!DOCTYPE html>
<html>
  <head>
    <title>StyleAMatic</title>
    <%= csrf_meta_tags %>
    <meta name="turbolinks-cache-control" content="no-cache">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', delay: true %>
  </head>

  <body>
    <div class="container">
      <div class="text-center p-3 w-100" role="title">
        <h1 class="text-center"><%= link_to 'Styleguide-o-matic', root_path %></h1>
      </div>
    </div>
    <div class="container">
      <div class="styleguide-navigation pl-3 pr-3" id="styleguide-navigation" role="nav" data-turbolinks-permanent>
        <%= render 'navigation' %>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6 col-sm-7 col-lg-8">
          <div role="main" id="styleguide-container">
            <template id="styleguide-head">
              <%= stylesheet_link_tag 'components', media: 'all' %>
              <%= stylesheet_link_tag    css_generator_url(id: resource.id), media: 'all', 'data-source-tag': true %>
            </template>
            <styleguide-content id="styleguide-content">
              <template>
                <div class="styleguide-content">
                  <%= yield %>
                </div>
              </template>
            </styleguide-content>
          </div>
        </div>
        <div class="col-6 col-sm-5 col-lg-4 d-flex">
          <div class="w-100 position-relative">
            <div class="styleguide-configurator p-3" id="styleguide-configurator" role="configurator" data-turbolinks-permanent>
              <%= render 'configurator' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
