<!DOCTYPE html>
<html>
  <head>
    <title>BootstrapConfigurator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    css_source_path, media: 'all', 'data-turbolinks-track': 'reload', 'data-source-tag': true %>
  </head>

  <body>
    <div class="styleguide-title" role="nav">
      <div class="app-title">Bootstrap Configurator</div>
    </div>
    <div class="styleguide-wrapper">
      <div class="styleguide-navigation" role="nav">
        <%= render 'navigation' %>
      </div>
      <div class="styleguide-container" role="main">
        <%= yield %>
      </div>
      <div class="styleguide-configurator" role="configurator">
        <%= render 'configurator' %>
      </div>
    </div>
  </body>
</html>
