<!DOCTYPE html>
<html>
  <head>
    <title>StyleAMatic</title>
    <%= csrf_meta_tags %>
    <meta name="turbolinks-cache-control" content="no-cache">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="text-center p-3" role="title">
      <h1 class="text-center">StyleAMatic</h1>
    </div>
    <div class="row">
      <div class="col-12 col-md-2">
        <div id="styleguide-navigation" role="nav" data-turbolinks-permanent>
          <%= render 'navigation' %>
        </div>
      </div>
      <div class="col-12 col-md-7">
        <div role="main" id="styleguide-container">
          <styleguide-head>
            <style>
              :host {
                width: 100%;
                display: block;
                contain: content;
              }
            </style>
            <%= stylesheet_link_tag    css_generator_url, media: 'all', 'data-source-tag': true %>
          </styleguide-head>
          <styleguide-content id="styleguide-content"><%= yield %></styleguide-content>
        </div>
      </div>
      <div class="col-12 col-md-3 d-flex">
        <div class="w-100 p-3 position-relative">
          <div class="styleguide-configurator p-3" id="styleguide-configurator" role="configurator" data-turbolinks-permanent>
            <%= render 'configurator' %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
