<!DOCTYPE html>
<html>
  <head>
    <title>BootstrapConfigurator</title>
    <%= csrf_meta_tags %>
    <meta name="turbolinks-cache-control" content="no-cache">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="styleguide-title" role="nav">
      <div class="app-title">Bootstrap Configurator</div>
    </div>
    <div class="styleguide-wrapper">
      <div class="styleguide-navigation" id="styleguide-navigation" role="nav">
        <%= render 'navigation' %>
      </div>
      <div class="styleguide-container" role="main">
        <styleguide-head>
          <style>
            :host {
              display: block;
              contain: content;
            }
          </style>
          <%= stylesheet_link_tag    css_generator_url, media: 'all', 'data-source-tag': true %>
        </styleguide-head>

        <styleguide-content><%= yield %></styleguide-content>
      </div>
      <div class="styleguide-configurator" id="styleguide-configurator" role="configurator" data-turbolinks-permanent>
        <%= render 'configurator' %>
      </div>
    </div>
  </body>
</html>
